.rc-slider-track {
    background-color: #808080 !important;
}

.rc-slider-rail {
    background-color: #808080 !important;
}
.rc-slider-mark {
    background-color: #808080 !important;
    font-size: 18px;
}

.rc-slider-mark-text {
    color: #000000 !important;
}

.rc-slider-handle {
    background-color: #808080 !important;
    border-color: #000000 !important;
}

.rc-slider-step {
    background-color: #808080 !important;
}

.rc-slider-dot {
    background-color: #808080 !important;
    border-color: #000000 !important;
}

.VirtualizedSelectOption {    
    display: inline-block;
    text-align:center;
}

.Select-input {
    text-align: center !important;
    display: block;
}
.Select-placeholder {
    color: rgba(255, 0, 0, 0.5) !important;
}

/* Increase only the size of the "Download as Image" button */
.modebar-btn[data-title="Download plot as a png"] > svg {
    width: 22px !important;
    height: 22px !important;
}




